#dashboard {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* margin: 1em 3em; */
    display: grid;
    grid-template-rows: 15% repeat(4, 20%);
    grid-template-columns: repeat(4, 25%);
    row-gap: 2em;
    padding: 1.5em 4em;
}

#dashboard #greetings {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

#dashboard nav {
    grid-column: 4;
    justify-self: end;
    margin: 2em;
    display: flex;
}

#dashboard nav img {
    margin: 0 1em;
}

#dashboard nav #menu {
    cursor: pointer;
}

#dashboard #ask-for-a-title {
    padding: 2em;
    border: none;
    background-color: #999999;
    color: #ffffffe5;
    border-radius: 2em;
    font-weight: 700;
    cursor: pointer;
    align-self: flex-start;
}

#dashboard #applications-in-progress {
    grid-row: 3/5;
}

#dashboard #main-title {
    grid-row: 2;
    grid-column: 3;
}

#dashboard #other-titles {
    grid-row: 3/5;
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
}

#dashboard #other-titles #other-titles-container {
    display: flex;
    flex-wrap: wrap;
}

#dashboard #service-lines {
    grid-row: 5;
    grid-column: 3/5;
    background-color: pink;
    align-self: center;
}


#dashboard #applications-in-progress ul {
    padding-left: 2em;
}

#dashboard #applications-in-progress li:first-of-type {
    margin-bottom: 1em;
}

#dashboard .title {
    font-weight: 500;
    margin-bottom: 1em;
}

#dashboard .card {
    background-color: #999999;
    border-radius: 0.5em;
    padding: 2em;
    color: #ffffffe5;
}

#dashboard .other-titles-card {
    width: 30%;
    margin-right: 1em;
    margin-bottom: 1em;
}

